In [46]:
# print the total number of crime in each neighborhood
import pandas as pd
import pickle
import matplotlib.pyplot as plt
crime = pd.read_csv("Data/crime_rates.csv")



crime['INCIDENTNEIGHBORHOOD'].value_counts().sort_values(ascending=True)

St. Clair                      1
New Homestead                  1
Oakwood                        2
Outside County                 2
Mt. Oliver Boro                2
                            ...
East Liberty                  82
Homewood South                84
Carrick                      112
South Side Flats             125
Central Business District    211
Name: INCIDENTNEIGHBORHOOD, Length: 94, dtype: int64

In [42]:
# brief summary of neighborhoods in pittsburgh 
crime[['INCIDENTNEIGHBORHOOD']].describe()

             INCIDENTNEIGHBORHOOD
count                        2965
unique                         94
top     Central Business District
freq                          211

In [35]:
#find the safety rate in each neighborhood
#I took 1(lowest number of crimes) and divided it by the number of crimes in each neighborhood 
# the higher the safety rate, the safer the neighborhood
(1 / crime['INCIDENTNEIGHBORHOOD'].value_counts()) * 100

Central Business District      0.473934
South Side Flats               0.800000
Carrick                        0.892857
Homewood South                 1.190476
East Liberty                   1.219512
                                ...
Mt. Oliver Boro               50.000000
Oakwood                       50.000000
Outside County                50.000000
New Homestead                100.000000
St. Clair                    100.000000
Name: INCIDENTNEIGHBORHOOD, Length: 94, dtype: float64

In [3]:
#top 5 safest neighborhoods

crimeRate = {'Total Crimes': ['1', '1', '2', '2', '2'], 
        'Safety Rate': [100, 100, 50, 50, 50], 
        'Hierachy': [27, 11, 9, 99, 27]}
df = pd.DataFrame(crimeRate, index = ['St. Clair', 'New Homestead', 'Outside County', 'Oakwood', 'Mt. Oliver Boro'])
df

                Total Crimes  Safety Rate  Hierachy
St. Clair                  1          100        27
New Homestead              1          100        11
Outside County             2           50         9
Oakwood                    2           50        99
Mt. Oliver Boro            2           50        27

In [35]:
#top 5 worst neighborhoods
crimeRate = {'Total Crimes': ['211', '125', '112', '84', '82'], 
        'Safety Rate': [0.47, 0.8, 0.89, 1.19, 1.22], 
        'Hierachy': [99, 99, 99, 99, 99]}
df = pd.DataFrame(crimeRate, index = ['Central Business District', 'South Side Flats', 'Carrick', 'Homewood South', 'East Liberty'])

df

                          Total Crimes  Safety Rate  Hierachy
Central Business District          211         0.47        99
South Side Flats                   125         0.80        99
Carrick                            112         0.89        99
Homewood South                      84         1.19        99
East Liberty                        82         1.22        99

In [ ]:
df = pd.DataFrame(crime['INCIDENTNEIGHBORHOOD'].count(), columns = ['Neighborhood', "Safety Rate"], index = crime['INCIDENTNEIGHBORHOOD'])
df.plot(figsize=(30,15), color="pink", title="Safety Rate in Pittsburgh Neighborhood")

In [9]:
import pickle
pickle.dump(crime_rate_dict, open("crime_rate_results.pk1", "wb"))